<%- include("partials/top") %>

<div class="container">
    <%- include("pages/heading") %>


    <main class="main">
        <%- include("pages/result") %>
        <%- include("pages/default") %>
        <%- include("pages/present") %>
    </main>

    <%- include("pages/footer") %>
</div>

<%- include("partials/bottom") %>